<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');

// Facebook
$config['facebook_app_id'] = '1392926934289410';
$config['facebook_app_secret'] = '2ab312e8ad4eba71f76e018a307f6c62';

// Twitter
$config['twitter_consumer_key'] = 'zypyD3u2gTeYtsLXVWR8bHmeJ';
$config['twitter_consumer_secret'] = 'qzrnzUahaoYNcnX42ksK9xxEWBOTJqHeGXPR0xGTuwxxD2ZGDY';

// YouTube
$config['youtube_about_wnh_video'] = '//www.youtube.com/embed/DF_-FzhM1-k?rel=0';

// BrainTree
$config['braintree_environment'] = 'sandbox';
$config['braintree_merchant_id'] = '7gvcdhy972bxctyn';
$config['braintree_public_key'] = 'yny8vx2hch873s8z';
$config['braintree_private_key'] = 'afae0bafc72ca1130fb2ee1a68d1e035';
$config['is_marketplace_enabled'] = true;

// Purolator
$config['purolator_key'] = '6e77a7f3c6684b9e801e9e127f21df2b';
$config['purolator_pass'] = 'zrD7Q?&&';
$config['purolator_billing_account'] = '9999999999';
$config['purolator_registered_account'] = '9999999999';
$config['purolator_wsdl_path'] = 'vendor/purolator/development/';
$config['purolator_estimating_service_ws_location'] = 'https://devwebservices.purolator.com/PWS/V1/Estimating/EstimatingService.asmx';
